# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env
.env.*

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Build Files
# ==========================
build/
dist/

# ==========================
# Node.js
# ==========================
node_modules/
npm-debug.log*

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Windows
# ==========================
Thumbs.db

# ==========================
# Datasets
# ==========================
*.csv

# ==========================
# ML Models
# ==========================
*.pkl
*.safetensors
*.h5
*.pt
*.pth

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Pytest
# ==========================
.pytest_cache/

# ==========================
# Coverage
# ==========================
.coverage
htmlcov/

# ==========================
# Temporary Files
# ==========================
*.tmp
*.temp
